<script>
    debugger
</script> 


    
<form action="/landing" method="GET">
    <ul class="cards">
        <%  searchedGame.forEach(gm => { %> 

            <div class="card" style="width: 18rem;">
                <img class='cardimg' src="<%= gm.background_image %> "> </img>           
                <div class="card-body">
                <h5 class="card-title">title: <%= gm.name %></h5>
                <p class="card-text"> year released:<%= gm.released %> </p>
                <p class="card-text">rating:<%= gm.rating %> </p>
                <a href="/synopsis" class="btn btn-primary">Go somewhere</a>
                <input type="hidden" value="<%=gm.id %> " name="game" id="game"> 
                </div>
            </div>

        <% }) %> 
    </ul>
</form>
