<!-- <script>
    debugger
</script>  -->


    <div class="SG">Searched games</div>

    <ul class="cards" style="color:black">
        <%  searchedGame.forEach(gm => { %> 

            <div class="card" style="width: 18rem;" style="flex-wrap: wrap;">
                <img class='cardimg' src="<%= gm.background_image %> "> </img>           
                <div class="card-body" style="color: gray;">
                    <h5 class="card-title">Title: <%= gm.name %></h5>
                    <p class="card-text"> Release Date:<%= gm.released %> </p>
                    <p class="card-text">Rating: <%= gm.rating %> </p>
                    <p class="card-text">Platforms: <%= gm.platforms %> </p>
                    <a href="/synopsis/<%=gm.id%>" class="btn btn-primary">More</a>
                    <input type="hidden" value="<%=gm.id %> " name="game" id="game">                
                </div>
            </div>

        <% }) %> 
    </ul>

